<h1 class="title">{{title}}</h1>

<header class="main-header">
    <div>
        <a class="main-header-brand">Home</a>
    </div>
    <nav class="main-nav">
        <ul class="main-nav-items">
            <li class="man-nav-item"><a href="/">Weather</a></li>
            <li class="man-nav-item"><a href="/about">About</a></li>
            <li class="man-nav-item"><a href="/help">Help</a></li>
        </ul> 
    </nav> 
</header>