<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Name : {{name}}</p>
            <img class="aboutPic" src="/img/prashant.jpg">
        </div>
        <p>{{>footer}}</p>
    </body>
</html>