<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"></link>
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>Name : {{name}}</p>
            <img class="aboutMePic" src="/img/prashant.jpg">
        </div>
        {{>footer}}
    </body>
</html>