<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"></link>
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>for any queries please contact @ pzende88@gmail.com</p>
        </div>
        {{>footer}}
    </body>
</html>