<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"></link>
        <link rel="icon", href="/img/weather.png">
    </head>
    <body>
        <div class="mainContent">
            {{>header}}
            <p>Use this site to get weather details</p>
            <form class="weatherForm">
                <input placeholder="Location" id="weatherText" type="text">
                <button type="submit" id="weatherButton">Search</button>
            </form>
            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </div>
        {{>footer}}
        <script style="text/javascript" src="/js/app.js"></script>
    </body>
</html>